<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Luxury Services recruitment & services
			{% endblock %}
		</title>

		{% block meta %}
			<!-- Meta tags ici -->
		{% endblock %}

		{% block link %}
			<!-- CSS links ici -->
		{% endblock %}

		{% block script1 %}
			<!-- Scripts JS à charger dans le head si nécessaire -->
		{% endblock %}

		{% block script2 %}
			<!-- Scripts JS supplémentaires -->
		{% endblock %}
	</head>

	<!-- Navigation -->
	<header id="header" class="tt-nav transparent-header ">
		<div class="header-sticky semi-transparent">
			<div class="container">
				<div id="materialize-menu" class="menuzord">

					<a class="brand logo-brand" href="{{ path('app_home') }}"></a>

					<div id="mobile-menu">
						<div class="nav-wrapper" id="toggle">
							<span class="top"></span>
							<span class="middle"></span>
							<span class="bottom"></span>
						</div>
						<div class="icon-wrapper">
							{% if app.user %}
								<span class="account">
									<a href="{{ path('app_profil') }}">
										<i class="material-icons">&#xE7FD;</i>
									</a>
								</span>
							{% endif %}
						</div>

						<div class="nav-overlay" id="overlay">
							<nav class="overlay-menu">
								<ul>
									<li>
										<a href="{{ path('app_home') }}">Home</a>
									</li>
									<li>
										<a href="{{ path('app_home') }}">Jobs Offers</a>
									</li>
									<li>
										<a href="{{ path('app_about_us') }}l">About Us</a>
									</li>
									<li>
										<a href="{{ path('app_contact') }}">Contact</a>
									</li>

									{% if app.user %}
										<li>-</li>
										<li>
											<a href="{{ path('app_profil') }}">Profile</a>
										</li>
										<li>
											<a href="{{ path('app_logout') }}" class="btn bn-lg gradient secondary btn-block waves-effect waves-light btn-register">Logout</a>
										</li>
									{% else %}
										<li>
											<a href="{{ path('app_login') }}">Login</a>
										</li>
										<li>
											<a href="{{ path('app_register') }}">Sign Up</a>
										</li>
									{% endif %}
								</ul>
							</nav>
						</div>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="menuzord-menu pull-right light" role="navigation">
							<li class="active dropdown">
								<a href="{{ path('app_home') }}">
									<span>Home</span>
								</a>
							</li>
							<li class="dropdown">
								<a href="{{ path('app_home') }}">
									<span>Jobs Offers</span>
								</a>
							</li>
							<li class="dropdown">
								<a href="{{ path('app_about_us') }}">
									<span>About Us</span>
								</a>
							</li>
							<li class="dropdown">
								<a href="{{ path('app_contact') }}">
									<span>Contact</span>
								</a>
							</li>

							{% if app.user %}
								<li class="dropdown">
									<a href="{{ path('app_profil') }}">
										<span>Profile</span>
									</a>
								</li>
								<li class="dropdown">
									<a href="{{ path('app_logout') }}" class="btn bn-lg gradient secondary btn-block waves-effect waves-light btn-register">
										<span>Logout</span>
									</a>
								</li>
							{% else %}
								<li class="dropdown">
									<a href="{{ path('app_login') }}">
										<span>Login</span>
									</a>
								</li>
								<li class="dropdown">
									<a href="{{ path('app_register') }}" class="btn bn-lg gradient secondary btn-block waves-effect waves-light btn-register">
										<span>Sign Up</span>
									</a>
								</li>
							{% endif %}
						</ul>
					</div>

				</div>
			</div>
		</div>
	</header>
	<body id="top">
		{% block body %}
			<!-- Contenu principal -->
		{% endblock %}

		{% block script3 %}
			<!-- Scripts JS en bas de page -->
		{% endblock %}
	</body>
</html>
